# Future manager

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import seaborn as sns
from plotly import tools
import plotly.graph_objs as go
from lib import plot as p
from lib import data as d
from lib import finance as f

In [2]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

lpalette = {'g':'#13E881', 'r':'#FF5949', 'o':'#FFB84C', 'b':'#A7BEFA', 'w':'#FFFFFF', 'pk':'#FFA1FD', 'bg':'#FFEDBA', 'c':'#90EBF0',
            'pp':'#BBA0F0', 'g2':'#CCFFED', 'b2':'#E3EEFF', 'y':'#FFFC57'}
dpalette = {'g':'#268040', 'r':'#800B00', 'o':'#A13808', 'b':'#464CC2', 'w':'#B8BFBA', 'pk':'#A04EA6', 'bg':'#807155', 'c':'#1D4544',
            'pp':'#291147', 'g2':'#394742', 'b2':'#414449', 'y':'#666523'}

# Predictions

## Short-Term

In [3]:
dg, df, dtr = f.read_finance()

In [4]:
balance = f.calc_balance(dg, df)

fund = d.window(f.calc_fund(balance.fillna(0)), val='Var')

recent_income = balance['Renda média'].iloc[-2]
recent_expense = balance['Despesa real média'].iloc[-2]
recent_delta = recent_income - recent_expense

avg_income = balance['Renda'].mean()
avg_expense = balance['Despesa real'].mean()
avg_delta = avg_income - avg_expense

In [5]:
months = 12
manual_delta = ((6715+640.5)*9 - (1500*3 + 250*9) - 1500)/months

current_fund = fund['Saldo'].iloc[-1]

dfuture = pd.DataFrame([[current_fund + recent_delta*months, current_fund + avg_delta*months, current_fund + manual_delta*months]], columns=['Recent', 'Average', 'Manual'])
p.change_df_prop(dfuture, 26)

## Long-Term

In [6]:
years = 27
income = 40000
expenses = 3000*12
yields = [0, 0.02, 0.05, 0.1, 0.15]
initial_gain = ((6715+640.5)*9 - (1500*3 + 250*9) - 1500)/5
current_fund = fund['Saldo'].iloc[-1]/5 + 15000

f.predict_fund(income, expenses, yields, initial_gain, current_fund, years)

  Yields   EUR    BRL
0     0% 0.137  0.686
1  0.02% 0.191  0.957
2  0.05% 0.327  1.634
3   0.1% 0.855  4.274
4  0.15% 2.341 11.703

In [7]:
years = 37
income = 40000
expenses = 3000*12
yields = [0, 0.02, 0.05, 0.1, 0.15]
initial_gain = ((6715+640.5)*9 - (1500*3 + 250*9) - 1500)/5
current_fund = fund['Saldo'].iloc[-1]/5 + 15000

f.predict_fund(income, expenses, yields, initial_gain, current_fund, years)

  Yields   EUR    BRL
0     0% 0.177  0.886
1  0.02% 0.277  1.385
2  0.05% 0.581  2.903
3   0.1% 2.264 11.322
4  0.15% 9.467 47.334

# Goal planner

In [8]:
life_expectancy = 50
goal_income = 35000
yields = [0, 0.02, 0.05, 0.1, 0.15]
       
f.predict_goal(goal_income, yields, life_expectancy)

  Yields   EUR   BRL
0     0% 1.750 8.750
1  0.02% 1.122 5.609
2  0.05% 0.671 3.355
3   0.1% 0.382 1.909
4  0.15% 0.268 1.340

In [9]:
life_expectancy = 40
goal_income = 35000
yields = [0, 0.02, 0.05, 0.1, 0.15]
       
f.predict_goal(goal_income, yields, life_expectancy)

  Yields   EUR   BRL
0     0% 1.400 7.000
1  0.02% 0.977 4.883
2  0.05% 0.631 3.153
3   0.1% 0.376 1.882
4  0.15% 0.267 1.337