# Future manager

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
import seaborn as sns
from plotly import tools
import plotly.graph_objs as go
from lib import plot as p
from lib import data as d
from lib import finance as f

In [3]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

lpalette = {'g':'#13E881', 'r':'#FF5949', 'o':'#FFB84C', 'b':'#A7BEFA', 'w':'#FFFFFF', 'pk':'#FFA1FD', 'bg':'#FFEDBA', 'c':'#90EBF0',
            'pp':'#BBA0F0', 'g2':'#CCFFED', 'b2':'#E3EEFF', 'y':'#FFFC57'}
dpalette = {'g':'#268040', 'r':'#800B00', 'o':'#A13808', 'b':'#464CC2', 'w':'#B8BFBA', 'pk':'#A04EA6', 'bg':'#807155', 'c':'#1D4544',
            'pp':'#291147', 'g2':'#394742', 'b2':'#414449', 'y':'#666523'}

# Predictions

## Short-Term

In [64]:
dg, df, dtr = f.read_finance()

In [65]:
monthly_income = d.window(d.pivot_agg(dg, val='Valor', idx=['Data'], agg={'Valor':np.sum}))
monthly_expenses = d.window(d.pivot_agg(df, val='Valor', idx=['Data'], agg={'Valor':np.sum}))
monthly_expenses_p = d.window(d.pivot_agg(df[df['Pagamento'] != 'Pais'], val='Valor', idx=['Data'], agg={'Valor':np.sum}))

monthly_income.columns = ['Data', 'Renda', 'Renda média']
monthly_expenses.columns = ['Data', 'Despesa', 'Despesa média']
monthly_expenses_p.columns = ['Data', 'Despesa real', 'Despesa real média']

balance = monthly_income.join(monthly_expenses.set_index('Data'), on='Data').join(monthly_expenses_p.set_index('Data'), on='Data')

fund = d.window(f.calc_fund(balance.fillna(0)), val='Var')

recent_income = balance['Renda média'].iloc[-2]
recent_expense = balance['Despesa real média'].iloc[-2]
recent_delta = recent_income - recent_expense

avg_income = balance['Renda'].mean()
avg_expense = balance['Despesa real'].mean()
avg_delta = avg_income - avg_expense

In [68]:
months = 12
manual_delta = ((6715+640.5)*9 - (1500*3 + 250*9) - 1500)/months

current_fund = fund['Saldo'].iloc[-1]

dfuture = pd.DataFrame([[current_fund + recent_delta*months, current_fund + avg_delta*months, current_fund + manual_delta*months]], columns=['Recent', 'Average', 'Manual'])
dfuture

     Recent   Average    Manual
0 87712.410 83599.267 91816.790

## Long-Term

In [90]:
def predict_fund(income, expenses, yields, initial_gain, initial_fund):
    delta = (initial_gain + (income - (expenses))*(years-1))/years

    future_funds = [initial_fund for i in  range(len(yields))]
    for y in range(years):
        for i in range(len(future_funds)):
            future_funds[i] += delta
            future_funds[i] *=  (1 + yields[i])

    dfuture = pd.DataFrame([[5*f/(10**6), f/(10**6)] for f in future_funds], columns=['BRL', 'EUR'])
    dfuture['Yields'] = [str(y) + '%' for y in yields]
    return dfuture[['Yields', 'EUR', 'BRL']]

def predict_goal(goal_income, yields, life_expectancy):
    retirement_funds = [goal_income for i in range(len(yields))]
    for y in range(life_expectancy-1):
        for i in range(len(future_funds)):
            retirement_funds[i] /= (1+yields[i])
            retirement_funds[i] += goal_income

    dfuture = pd.DataFrame([[5*f/(10**6), f/(10**6)] for f in retirement_funds], columns=['BRL', 'EUR'])
    dfuture['Yields'] = [str(y) + '%' for y in yields]
    return dfuture[['Yields', 'EUR', 'BRL']]

In [80]:
years = 27
income = 40000
expenses = 3000*12
yields = [0, 0.02, 0.05, 0.1, 0.15]
initial_gain = ((6715+640.5)*9 - (1500*3 + 250*9) - 1500)/5
current_fund = fund['Saldo'].iloc[-1]/5 + 15000

predict_fund(income, expenses, yields, initial_gain, current_fund)

  Yields   EUR    BRL
0     0% 0.137  0.687
1  0.02% 0.192  0.958
2  0.05% 0.327  1.635
3   0.1% 0.856  4.279
4  0.15% 2.344 11.720

In [94]:
years = 37
income = 40000
expenses = 3000*12
yields = [0, 0.02, 0.05, 0.1, 0.15]
initial_gain = ((6715+640.5)*9 - (1500*3 + 250*9) - 1500)/5
current_fund = fund['Saldo'].iloc[-1]/5 + 15000

predict_fund(income, expenses, yields, initial_gain, current_fund)

  Yields   EUR    BRL
0     0% 0.177  0.887
1  0.02% 0.277  1.385
2  0.05% 0.581  2.906
3   0.1% 2.267 11.335
4  0.15% 9.481 47.404

# Goal planner

In [91]:
life_expectancy = 50
goal_income = 35000
yields = [0, 0.02, 0.05, 0.1, 0.15]
       
predict_goal(goal_income, yields, life_expectancy)

  Yields   EUR   BRL
0     0% 1.750 8.750
1  0.02% 1.122 5.609
2  0.05% 0.671 3.355
3   0.1% 0.382 1.909
4  0.15% 0.268 1.340

In [95]:
life_expectancy = 40
goal_income = 35000
yields = [0, 0.02, 0.05, 0.1, 0.15]
       
predict_goal(goal_income, yields, life_expectancy)

  Yields   EUR   BRL
0     0% 1.400 7.000
1  0.02% 0.977 4.883
2  0.05% 0.631 3.153
3   0.1% 0.376 1.882
4  0.15% 0.267 1.337