# Gerenciador de investimentos

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import seaborn as sns
from plotly import tools
import plotly.graph_objs as go
# from lib import lib as l
from lib import plot as p
from lib import data as d
from lib import finance as f

In [2]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
lcolors = np.array(['#13E881', '#FF5949', '#FFB84C', '#A7BEFA', '#27FEFA'])
dcolors = np.array(['#268040', '#800B00', '#A13808', '#464CC2', '#162CF2'])

## Leitura dos dados

In [3]:
dinv, dport, dport_inv, dprices = f.read_invest()
dinvest = pd.concat([dinv, dport_inv]).reset_index(drop=True)

## Fluxos de investimentos

### Hist√≥rico de fluxos

In [16]:
dflow = dinvest.groupby('ID').apply(f.calc_flows)
dflow = dflow.reset_index(level=[0, 1])
dflow.pop('level_1')
dflow['Rend'] = dflow['Rendimento anual'].apply(d.pct2int)
dflow = dflow.sort_values(by=['Rend'], ascending=False).reset_index(drop=True)
a = dflow.pop('Rend')

### Fluxos ativos

In [5]:
dflow[dflow['Ativo']]

,ID,Valor inicial,Ganho,Meses,Rendimento,Rendimento mensal,Rendimento anual,Ganho em 1 ano,Ativo,Tipo
0,105.000,1478.000,78.700,0.918,5.32%,5.81%,96.65%,1504.601,True,IVVB11
1,102.000,1390.300,166.400,2.557,11.97%,4.52%,69.73%,1085.410,True,IVVB11
2,100.000,1308.000,248.700,3.967,19.01%,4.49%,69.06%,1075.058,True,IVVB11
3,101.000,875.000,78.000,3.475,8.91%,2.49%,34.18%,325.765,True,BRAX11
6,11.400,5686.820,1.280,0.066,0.02%,0.34%,4.19%,238.490,True,Nu
11,3.200,537.010,1.150,0.721,0.21%,0.3%,3.61%,19.443,True,Nu
13,1.100,10940.620,97.420,3.508,0.89%,0.25%,3.07%,338.894,True,Nu
25,12.000,3000.000,0.020,0.033,0.0%,0.02%,0.24%,7.309,True,Nu
26,107.000,985.550,0.000,0.885,0.0%,0.0%,0.0%,0.000,True,Cash
27,104.000,970.300,-17.300,1.410,-1.78%,-1.27%,-14.16%,-134.965,True,BRAX11
28,103.000,957.200,-22.600,1.639,-2.36%,-1.45%,-16.01%,-149.592,True,BBSD11
29,106.000,966.700,-32.100,0.689,-3.32%,-4.79%,-44.4%,-414.942,True,BBSD11

## Performance

In [6]:
dnu = dflow[dflow['Meses'] > 0]
dnu = dnu[dnu['Tipo'] == 'Nu']

detf = dflow[dflow['Meses'] > 0]
detf = detf[detf['Tipo'] != 'Nu']

### Renda fixa

In [8]:
p.change_df_prop(f.calc_flows_overview(dnu), 28)

### Renda Vari√°vel

In [10]:
p.change_df_prop(f.calc_flows_overview(detf), 28)

### Mensal

In [11]:
fig_prof = p.make_fig()
fig_prof_total = p.make_fig()

This is the format of your plot grid:
[ (1,1) x1,y1 ]

This is the format of your plot grid:
[ (1,1) x1,y1 ]

In [18]:
dret = d.pivot_agg(f.calc_flow_gains(dinvest[dinvest['Tipo'] != 'Cash']), val='ValorDelta', idx='Data', col='Tipo', agg={'ValorDelta':np.sum})
dret['Portfolio'] = dret.sum(axis=1)
cols = dret.columns[1:]
for c in cols:
    dret = d.window(dret, val=c)
dret

Tipo,Data,BBSD11,BRAX11,IVVB11,Nu,Portfolio,BBSD11Avg,BRAX11Avg,IVVB11Avg,NuAvg,PortfolioAvg
0,Set/19,0.000,0.000,0.000,0.210,0.210,0.000,4.333,42.667,30.337,77.337
1,Out/19,0.000,0.000,-8.000,48.730,40.730,0.000,4.333,42.667,30.337,77.337
2,Nov/19,0.000,13.000,136.000,42.070,191.070,0.000,4.333,42.667,30.337,77.337
3,Dez/19,0.000,70.500,-52.100,42.030,60.430,0.000,27.833,25.300,44.277,97.410
4,Jan/20,-17.200,-40.800,187.800,41.130,170.930,-5.733,14.233,90.567,41.743,140.810
5,Fev/20,-37.500,18.000,230.100,4.880,215.480,-18.233,15.900,121.933,29.347,148.947

In [19]:
palette1 = {'Portfolio': lcolors[0], 'BRAX11': lcolors[2], 'IVVB11': lcolors[0], 'BBSD11': lcolors[1], 'Cash': lcolors[4]}
palette2 = {'PortfolioAvg': dcolors[0], 'BRAX11Avg': dcolors[2], 'IVVB11Avg': dcolors[0], 'BBSD11Avg': dcolors[1], 'Cash': dcolors[4]}
p.plot(dret, x='Data', fig=fig_prof_total, palette=palette1, y=dret.columns[5:6], plot_type='bar')
p.plot(dret, x='Data', fig=fig_prof_total, palette=palette2, y=dret.columns[10:11], name=['Portfolio m√©dio'])

FigureWidget({
    'data': [{'hoverinfo': 'name+y',
              'marker': {'color': '#13E881'},
            ‚Ä¶